nav {
    background-color: #5a4172;
    position: fixed;
    top: 0;
    left: 0;
    height:  50px;
    width: 100vw;
    z-index: 1;
  }
  
  nav ul li {
    float: right;
    margin-right: 50px;
    list-style-type: none;
    text-align: center;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-family: sans-sarif;
  }
  
  .nav-link:hover {
    color: darkslategrey;
    font-weight: bold;
  }
  
  #brand {
    float: left;
  }
  
  #brand .nav-link {
    color: black;
    font-size: 14pt;
  }


#PurpleTop {
background-color:#5a4172 ;
position: relative;
height:  600px;
width: 100vw;
color: white;
text-align: center;
}

#FeaturedIn {
    margin: 5px;
    position: relative;
height:  300px;
width: 100vw;
text-align: center;
   
}

#WhatIsKast {
  background-color:lightseagreen;
    margin: 5px;
    position: relative;
    height: 300px;
    width: 100vw;
    color: white;
    text-align: center;
    
}

#TryKastTV {
    margin: 5px;
    text-align: center;
   


    
}

#PremiumFeatures {
    margin: 5px;
    background-color:rgb(53, 62, 70);
    color: white;
    position: relative;
    height: 900px;
    width: 100vw;
    text-align: center;
}

#DesktopOrPhone {
    margin: 10px;
    text-align: center;

}

#Footer {
    margin: 10px;

}
